/* broweser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global  */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    background-color: #f5f5f5;
}

img {
    width: 100%;
}

P {
    color: #333;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/* nav  */

nav {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

nav img {
    width: 100px;
    margin: 4px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2px;
}

nav ul li {
    padding: .2rem;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #14213d;
}

.create-post-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* header */
header {
    display: flex;
    min-height: 80vh;
    background: url(https://images.unsplash.com/photo-1682686581312-506a8b53190e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    object-fit: contain;
}

.header-content {
    text-align: center;
    padding: 10px;
}

.header-content h1 {
    font-size: 5rem;
    padding: 10px;
    margin-top: 20px;
    color: #14213d;
}

.header-content a {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* layout */
.container-flex {
    display: flex;
    max-width: 1900px;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
}

main {
    padding: 10px;

}

.post-content {
    padding: 10px;
}

.post-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: grey;

}

.post-author {
    margin: 10px;
}

.post-content h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #14213d;
}

aside {
    padding: 10px;

}

.about-me {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.about-me img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px auto;

}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #003049;
    color: #ffff;
}

footer .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #8d99ae;
}

.logo-text {
    font-size: 4.5rem;
    font-weight: bold;
    color: #ffbe0b;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

footer .contact span {
    padding: 10px;
}

footer .contact i {
    padding: 10px;
    font-size: 30px;

}

footer .contact a {
    font-size: 30px;
    text-decoration: none;
    color: #0077b6;
}

footer .socials a {
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #fcbf49;
}

/* mobile first responsive design  */
@media (min-width:675px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }

    nav ul li {
        padding: 10px;
    }

    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 30%;
    }
}